/* Same Standar CSS */

*, 
::after, 
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

input{
  padding: 0.75em ;
  border-radius: 15px;
  border: 1px solid black;
}

button, 
input[type="button"], 
input[type="submit"]{
  font: inherit;
  cursor: pointer;
  color: white;
  background-color: teal;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  border: none;
  border-radius: 15px;
}

.App{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login & Sign-Up */

.login,.sign-up,
.login--form,.sign-up--form,
.email,
.password{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.login,.sign-up{
  width: 100%;
  max-width: 400px;
  border: 1px solid black;
  align-items: center;
}

.email,
.password{
  gap: 0.25em;
}

.login--submit, .sign-up--submit{
  width: 100%;
}